.code {
  width: 80%;
  height: 20vh;
  background-color: black;
  padding-top: 10vh;
  color: white;
}

.var {
  color: #E0C879;
}

.string {
  color: #7AC74F;
}

.number {
  color: #E87461
}

.boolean {
  color: rgb(133, 97, 232)
}
