.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1500px) {
  .App {
    max-width: 50%;
    height: 90vh;
    margin: auto;
    border: 1px black solid;
  }
}
